<html>
    <head>
        <title>Just For You RAGHAV</title>
    </head>
    <body bgcolor="GREEN">
        <div>
            <h1><a href="/">OUR LOVE IS GROWING</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">I LOVE YOU</a></h2>
            <p>I wanted to take the time to tell you just how much you mean to me. You’ve become a rock in my life, something solid and secure I can lean on. Knowing you’re by my side makes me so eternally grateful, that I can hardly put it into words. I had felt happiness before, but nothing prepared me for the happiness I feel when I’m with you.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Thank You Raghav</a></h2>
            <p>I Love you without knowing how, or when, or from where. I love you simply, without problems or pride: I love you in this way because I do not know any other way of loving but this, in which there is no I or you, so intimate that your hand upon my chest is my hand, so intimate that when I fall asleep your eyes close.”</p>
        </div>
    </body>
</html>